<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <script type="text/javascript" src="../static/script.js"></script>
  <style type="text/css">
  </style>
</head>
<body>
  <div class = "center">
    <input type="text" placeholder="Username" class="form-control" id="username">
    <input type="text" placeholder="Contest ID" class="form-control" id="contest">
    <input type="text" placeholder="Problem ID" class = "form-control" id="problem">
  </div>
  <div class = "btn-center">
    <input type="button" class = "btn btn-default " value="Find!" id="button" onclick="find()">  
  </div>
  <br />
  <div role="alert" id="url"></div>
</body>
</html>